body {
  background-color: #43bfcf;
  margin-left: 40px;
  margin-right: 40px;
}
.foto{
	width: 300px;
	height: 400px;
	background-color: #D3D3D3;
	margin-left: 10px;
	margin-right: 10px;	
	padding: 10px;	
}
.clientes img{
	width: 200px;
}
p{
	text-align: justify;
}
.promocoes{
	width: 95%;
	height: 100%;
	border: solid 2px;
	border-radius: 5px;
	border-color: #e8f0e8;
	padding: 15px;
}
.sobrenos{
	width: 95%;
	height: 100%;
	border: solid 2px;
	border-radius: 5px;
	border-color: #e8f0e8;
	padding: 15px;
}
.footer{
	background-color: #0000DD;
	color: #FFF;
	bottom: 0px;
}
